.poster{
    border: 2px solid white;
    /* position: relative;
    top:-1rem; */
    width: 100%;
    height: 70vh;
    background-color: white;
}
.poster h1{
    font-size: 2.5rem;
}
.box{
    display: flex;
}
.box1{
    width: 33%;
    /* border: 2px solid rgb(28, 42, 82); */
    border-radius: 20px;
    background: linear-gradient(to left bottom, rgb(252, 219, 247),rgb(218, 218, 248));
    height: 45vh;
    margin: 5px 40px;
    padding: 10px 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.animate{
    /* border: 2px solid red; */
    display: block;
    margin: auto;
    width: 220px;
    height: 220px;
}
.box h2{
    font-size: 1.7rem;
}
