.animation{

    width:220px;
    height: 220px;
    display: block;
    margin: auto;
    /* border: 2px solid red; */
}
.actions{
    /* border: 2px solid red; */
    text-align: center;
}
.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    margin: 10px;
    width: fit-content;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: rgb(70, 68, 68);
    border-color: rgb(70, 68, 68);
  }