
.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.445);

}
.logo {
  font-size: 2.7rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.8rem;
  text-decoration: none;

}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.nav a {
  text-decoration: none;
  color:white;
  position: relative;
  padding: 0.5rem 0;
  font-weight: 800;
}
.nav a button{
  text-decoration: none;
  color:white;
  border: none;
  position: relative;
  padding: 0.5rem 0;
  font-weight: 800;
}
.nav  a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: .2rem;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform.4s linear;
  
}
.nav  a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

.nav a:active,
.nav a.active,
.nav a.active:hover::before{
  transform: scaleX(0);
  transform-origin: left;
  color: rgb(21, 19, 39);
  font-weight: 800;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
  border-radius: 10px;
}

